@using SkiaSharp.Views.Blazor
@using ZXBox.Blazor.Pages
@using ZXBox.Snapshot
@using System.Timers
@using Toolbelt.Blazor.Gamepad;
@using Microsoft.AspNetCore.Components
@inject Toolbelt.Blazor.Gamepad.GamepadList GamePadList;
@inherits EmulatorComponentModel

<style>
    .emulator-layout {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        color: white;
    }

    .emulator-main {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
    }

    .emulator-controls {
        text-align: center;
    }

    .emulator-printer {
        display: flex;
        flex-direction: column;
        gap: 8px;
        background: #8f9296;
        border: 1px solid #676b6f;
        padding: 12px;
        color: #1f1f1f;
    }

    .emulator-printer-paper {
        background: #b8bcc0;
        border: 1px solid #7b7f83;
        padding: 8px;
        overflow: auto;
        max-width: min(100vw - 48px, 792px);
    }

    .printer-canvas {
        display: block;
    }

    @@media (min-width: 1100px) {
        .emulator-layout {
            flex-direction: row;
            align-items: flex-start;
            justify-content: center;
        }

        .emulator-printer {
            align-self: flex-start;
            position: sticky;
            top: 20px;
        }

        .emulator-printer-paper {
            max-height: calc(100vh - 120px);
        }
    }
</style>

@if (gameLoop.Enabled)
{
    <div class="emulator-layout">
        <div class="emulator-main">
            <SKCanvasView id="emulatorCanvas" @ref="_canvasView" class="printer-canvas" OnPaintSurface="OnPaintSurface" Width="296" Height="232" />

            <div class="emulator-controls">
                Load a game (supported formats: TAP, TZX, Z80, and SNA)<br />
                <InputFile OnChange="HandleFileSelected" /><br />
                Use a gamepad for Kempston joystick<br />
                <label style="display:block; margin:8px 0;">
                    <input type="checkbox" @bind="ScanlinesEnabled" />
                    Scanlines
                </label>
                @if (!speccy.CurrahMicroSpeech.Connected)
                {
                    <button @onclick="ConnectCurrahMicroSpeech">Connect Currah uSpeech</button>
                }
                else
                {
                    <button @onclick="DisconnectCurrahMicroSpeech">Disconnect Currah uSpeech</button>
                }
                @if (!speccy.ZxPrinter.Connected)
                {
                    <button @onclick="ConnectZxPrinter">Connect ZX Printer</button>
                }
                else
                {
                    <button @onclick="DisconnectZxPrinter">Disconnect ZX Printer</button>
                }
                @((MarkupString)Instructions)<br />
                <button @onclick="@(()=>LoadGame("ManicMiner.z80","left - q<br/>right - w<br/>jump - space"))">Load Manic Miner (1983)(Bug-Byte Software)</button>
                @if (tapePlayer.EarValues.Count > 0)
                {
                    @if (!tapePlayer.IsPlaying)
                    {
                        <button @onclick="tapePlayer.Play">Start tape</button>
                    }
                    else
                    {
                        <div style="height:300px;">
                            <TapePlayerComponent Percent="@PercentLoaded" TapeName="@TapeName"></TapePlayerComponent>
                        </div>
                    }
                }
            </div>
        </div>

        @if (speccy.ZxPrinter.Connected)
        {
            <div class="emulator-printer">
                <div style="font-weight:bold;">ZX Printer</div>
                <div class="emulator-printer-paper">
                    <SKCanvasView @ref="_printerCanvasView"
                                  class="printer-canvas"
                                  style="@PrinterCanvasStyle"
                                  OnPaintSurface="OnPaintPrinterSurface"
                                  Width="@PrinterCanvasDisplayWidth"
                                  Height="@PrinterCanvasDisplayHeight" />
                </div>
            </div>
        }
    </div>
}
else
{
    <div style="height:100vh;text-align:center;padding-top:200px;">
        Choose the computer you want to run<br/>
        <a href="#" @onclick:preventDefault @onclick="@(()=>StartZXSpectrum(RomEnum.ZXSpectrum48k))"><img src="./images/ZXSpectrum48k.png"/></a>
        <a href="#" @onclick:preventDefault @onclick="@(()=>StartZXSpectrum(RomEnum.ZXSpectrumPlus))"><img src="./images/ZXSpectrum128k.png"/></a>
    </div>
}

@*<img style="position:absolute;right:0px;bottom:0px;" src="/images/Atari2600/JoystickBase.png"/>
    <img style="position:absolute;right:100px;bottom:100px;" src="/images/Atari2600/JoystickStick.png" />*@

        